# Dependencies
node_modules
.pnpm-store

# Next.js build output
.next
out
dist

# Testing
coverage
.vitest

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE
.vscode
.idea
*.swp
*.swo

# Git
.git
.gitignore

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# Misc
*.pem
.eslintcache
